langchain==0.3.25
langchain-community==0.3.24
langchain-huggingface==0.1.2
langchain-chroma==0.2.4
langchain-text-splitters==0.3.8
chromadb==0.6.3
sentence-transformers==3.4.1
huggingface-hub==0.29.3
ollama==0.4.8
python-dotenv==1.1.0
fastapi==0.115.12
uvicorn[standard]==0.34.2
pydantic==2.11.4
