fastapi==0.115.*
uvicorn[standard]==0.32.*
python-multipart==0.0.*

langchain-community==0.3.*
langchain-text-splitters==0.3.*
langchain-huggingface==0.1.*
langchain-chroma==0.1.*
chromadb==0.5.*

sentence-transformers==3.*
docx2txt==0.8
pypdf==5.*
ollama==0.4.*